<launch>
    <!-- diff_derive param -->
    <!-- <rosparam file="$(find diff_drive)/config/diff_drv_params.yaml" /> -->
    <rosparam file="$(find vsgp_nav)/config/vsgp_nav_param_sim.yaml" />



    <!-- topics  -->
    <arg name="localization_topic" default="/ground_truth/state" />




    <!-- pid for waypoint tracking -->
    <node name="diff_drv_pid" pkg="diff_drive" type="diff_drive_go_to_goal"  output="screen">
        <!-- <remap from="/odometry" to="$(arg localization_topic)"/> -->
    </node>



</launch>


